<!-- Contenido principal -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <!-- Título centrado -->
      <ion-title class="ion-text-center">UrbanMove</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <ion-button fill="clear" [routerLink]="['/index']">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <h3>Formulario de registro</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <form [formGroup]="registroForm">
      <ion-item class="form-item">
        <ion-label color="primary" position="floating">Nombre completo</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-label color="primary" position="floating">Número de Teléfono</ion-label>
        <ion-input type="tel" formControlName="telefono" required></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label color="primary" position="floating">Correo Institucional Duoc UC</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label color="primary" position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="contrasena" required></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label color="primary" position="floating">Confirmar Contraseña</ion-label>
        <ion-input type="password" formControlName="confirmarContrasena" required></ion-input>
      </ion-item>

      <ion-button expand="full" color="secondary" type="submit" (click)="guardar()">
        Registrar
      </ion-button>
    </form>
  </ion-content>
</div>
