<ion-header>
  <ion-toolbar>
    <!-- Título centrado -->
    <ion-title class="ion-text-center">UrbanMove</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding text-center">
  <h1>Solicitud Denegada</h1>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Motivo:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Aquí puedes agregar el motivo de la denegación -->
      <p>El motivo de la denegación es: [Motivo aquí]</p>
    </ion-card-content>
  </ion-card>

  <p>Por favor, leer los requisitos.</p>

  <ion-button expand="block" routerLink="/index-us">
    Ir a Inicio
  </ion-button>
</ion-content>