ion-header {
    background-color: #f8f9fa;
  }
  
  h1 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .user-image {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  ion-item {
    --background: #ffffff; /* Fondo blanco para los items */
    --border-color: #ddd; /* Color de la línea */
    border-bottom: 1px solid var(--border-color); /* Línea inferior */
  }
  
  ion-label {
    font-weight: bold;
    color: #555;
  }
  
  .create-button {
    margin-top: 20px;
    background-color: #007bff; /* Color del botón */
    color: white;
  }
  
  .create-button:hover {
    background-color: #0056b3; /* Color del botón al pasar el mouse */
  }
  
  ion-datetime {
    --padding-start: 10px; /* Espaciado dentro de la entrada */
    --padding-end: 10px;
  }
  