<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Título centrado -->
    <ion-title class="ion-text-center">UrbanMove</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding text-center">
  <h1>Solicitud Aceptada</h1>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Aceptado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Nombre del usuario: [Nombre aquí]</p>
      <p style="font-size: small;">Datos del vehículo: [Marca, Modelo, Año]</p>
    </ion-card-content>
  </ion-card>

  
</ion-content>
<ion-button expand="block" routerLink="/index-uc">
  Comenzar!
</ion-button>
