

<!-- Contenido principal -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <!-- Título centrado -->
      <ion-title class="ion-text-center">UrbanMove</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="login-container">
      <ion-card class="login-card">
        <ion-card-header>
          <ion-text color="primary">
            <h2 class="ion-text-center">Inicio de Sesión</h2>
          </ion-text>
        </ion-card-header>
  
        <ion-card-content>
          <form>
            <ion-item class="form-item">
              <ion-icon slot="start" name="mail-outline"></ion-icon>
              <ion-label position="floating">Correo Institucional Duoc UC</ion-label>
              <ion-input type="email" name="correo" required></ion-input>
            </ion-item>
  
            <ion-item class="form-item">
              <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" name="contrasena" required></ion-input>
            </ion-item>
  
            <!-- Botón de Iniciar Sesión -->
            <ion-button expand="block" type="submit" class="login-button" color="primary"[routerLink]="['/index-us']">
              Iniciar Sesión
            </ion-button>
  
            <!-- Enlace para recuperar contraseña -->
            <ion-text color="medium">
              <p class="ion-text-center">
                ¿Olvidaste tu contraseña? <a  [routerLink]="['/olvido-contrasena']" href="#" class="forgot-link">Recuperar</a>
              </p>
            </ion-text>
  
            <!-- Nueva opción para registrarse -->
            <ion-text color="medium">
              <p class="ion-text-center register-option">
                ¿No tienes cuenta? <a [routerLink]="['/registro']" class="register-link">Regístrate aquí</a>
              </p>
            </ion-text>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
                <!-- Botón de Iniciar Sesión 
                <ion-button expand="block" type="submit" class="login-button" color="primary"[routerLink]="['/index-adm']">
                  Iniciar Sesión como administrador
                </ion-button>-->
               
  </ion-content>
  
</div>
