<ion-header>
  <ion-toolbar>
    <!-- Título centrado -->
    <ion-title class="ion-text-center">UrbanMove</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding text-center">
  <h1>Datos en Verificación</h1>
  <ion-button expand="block" routerLink="/index-us">
    Ir a Inicio
  </ion-button>
</ion-content>




<ion-button expand="block" routerLink="/soli-aceptada-uc">
  Aceptada
</ion-button>
<ion-button expand="block" routerLink="/soli-denegada-uc">
  Denegada
</ion-button>