.accordion-content {
    background-color: #f9f9f9;  /* Fondo suave para el contenido */
    border-radius: 5px;
    margin-top: 10px;
  }
  
  ion-icon {
    font-size: 24px;  /* Tamaño del ícono */
  }
  