h2 {
    
    color: #9b9a9a; /* Cambia el color del texto */
    
    font-weight: bold; /* Cambia el peso del texto */
  }
  p {
    
    color: #2d69d8; /* Cambia el color del texto */
    
    font-weight: bold; /* Cambia el peso del texto */
  }