<ion-header>
  <ion-toolbar>
    <!-- Título centrado -->
    <ion-title class="ion-text-center">UrbanMove</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="message-container">
    <h2>Configuración del Vehículo</h2>
    <p>El auto actual no puede modificarse, solo eliminarse.</p>
    <ion-button expand="full" routerLink="/eliminar-auto">
      Eliminar Auto
    </ion-button>
    <ion-button expand="full" routerLink="/index-uc">
      Volver a inicio
    </ion-button>
  </div>
</ion-content>
